.search {
    position: absolute;
    left: 241px;
    background-color: #fff;
}

.search-input {
    background-color: #e1e1e170;
    padding: 5px;
    width: 200px;
}

.search-container {
    padding: 20px 10px;
    border-bottom: 1px solid rgba(159, 159, 159, 0.779);
}

.search-result {
    padding: 10px;
}

@media (max-width: 1200px) {
    .search {
        left: 66px;
    }
}

@media (max-width: 768px) {
    .search {
        left: 0;
    }
}